@page "/BrowseDoctors"

@inject HttpClient Http
@layout PatientLayout

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Components

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <style>
        h3 {
            text-align: center;
        }

        .doctor-table {
            width: 100%;
            border-collapse: collapse;
        }

        .doctor-table th,
        .doctor-table td {
            border: 1px solid #ccc;
            padding: 8px;
            text-align: left;
        }
    </style>
</head>>

<h3>Browse Doctors</h3>


<table class="doctor-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Specialty</th>
            <th>Description</th>
            <th>Rating</th>
            <th>Availability</th>
            <th>Rates</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var doctor in Doctors)
        {
            <tr>
                <td>@doctor.FirstName @doctor.LastName</td>
                <td>@doctor.Specialty</td>
                <td>@doctor.Description</td>
                <td>to do</td>
                <td>@doctor.Availability</td>
                <td>@doctor.Rates</td>
                <td><button @onclick="() => SendRequest(doctor.Id)">Send Request</button></td>
            </tr>
        }
    </tbody>
</table>

