@page "/Doctor/{Doctor_id}"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@attribute [Authorize]
@layout PatientLayout
@inject HttpClient Http
@using System.Threading;

<center><h3>Doctor Details</h3></center>

<form>

  <label for="name">Doctor Name: </label>
  <input type="text" id="name" name="name" value="@Doctor.FirstName @Doctor.LastName" readonly><br>
  <label for="name">Doctor's Specialty: </label>
  <input type="text" id="name" name="name" value="@Doctor.Specialty" readonly><br>
  <label for="name">Doctor's Qualifications: </label>
  <input type="text" id="name" name="name" value="@Doctor.Description" readonly><br>
  <label for="name">Doctor's Availability: </label>
  <input type="text" id="name" name="name" value="@Doctor.Availability" readonly><br>
  <label for="name">Doctor's Rates per hour: </label>
  <input type="text" id="name" name="name" value="@Doctor.Rates" readonly><br>
  <label for="name">Insurance:  </label>
  <input type="checkbox" id="name" name="name" value="@Doctor.AcceptsInsurance" readonly><br>


</form>