@page "/ScheduleAppointments"
@layout PatientLayout
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@attribute [Authorize]
@using Microsoft.AspNetCore.Components.Forms
@using System.ComponentModel.DataAnnotations
@using MediMatch.Shared
@using System.Threading

@inject DialogService DialogService


@*@inject IJSRuntime JSRuntime*@

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
    .form-elemenet {
        display: inline
    }
</style>
</head>




<center><h3> Schedule Appointments </h3> </center>
<br />

@if (Doctors?.Any() ?? false) 
{
    <center><div>
            <form>
                <div class="form-element">
                    <label for="name" class="form-label">Select Doctor:</label>   
                    <select id="Doc" @bind="@DoctorId">
                        @foreach (var doctor in Doctors)
                        {
                            <option value = "@doctor.Id"> @doctor.FirstName @doctor.LastName </option>
                        }
                    </select>
                </div>
            <center> <button type="submit" class="btn btn-primary" @onclick="@(() => ReqDoctorId())">View Availability </button></center>
            </form> 
    </div></center>
}












@*

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("flatpickr", "#datetime", new
            {
                enableTime = false,
                dateFormat = "Y-m-d",
                minDate = "today"
            });

            
        }
    }
}

*@